.imageContainer {
  width: auto;

  margin: 0px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  object-fit: contain;
}
img {
  width: auto;

  object-fit: cover;
}

.cardContainer {
  padding: 0;
}
.title-name {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 2rem;
}
.myDonation {
  margin-top: 2em;

  font-weight: 600;
}
.accordion-button {
  background-color: rgb(20, 33, 61);
  color: white;
}
