#payment-form {
  padding: 2em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  font-size: 1.2em;
  border: #f6f9fc solid 1px;
  border-radius: 3px;

  margin: 20px 20px;
  box-shadow: 0 30px 50px -20px rgb(50 50 93 / 25%),
    0 30px 60px -30px rgb(0 0 0 / 30%);
}
#payment-element {
  width: 45vw;
}
#messages {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
  display: none; /* hide initially, then show once the first message arrives */
  background-color: #0a253c;
  color: #00d924;

  border-radius: var(--radius);
  font-size: 0.7em;
}
#submit {
  border-radius: 5px;
  color: white;
  border: 0;
  padding: 4px;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}
#submit:hover {
  filter: contrast(75%);
}
#submit:active {
  transform: translateY(0px) scale(0.98);
  filter: brightness(0.9);
}
#submit:disabled {
  opacity: 1;
  cursor: none;
}
@media only screen and (max-width: 934px) {
  #payment-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
  }
}
